.form-wrapper{
        background: #48779c;
        padding: 1rem;
}

.select-btn{
        display: block;
        width: 16%;
}

.options-wrapper{
        padding: 0;
        margin: 0;
        width: 16%;
        background: white;
        list-style: none;
        border-radius: 2px;
    }